

.bg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
      
#container {
    position: relative;
    text-align: center;
}


footer {
    padding: 30px 0;
    font-size: 12px;
    color: rgba(141, 141, 141, 0.829);
    text-align: center;
    background: rgba(248, 215, 230, 0.274);
  }
 
 