body{
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Alegreya SC', serif;
font-family: 'Lato', sans-serif;
}





footer {
    padding: 30px 0;
    font-size: 12px;
    color: rgba(141, 141, 141, 0.829);
    text-align: center;
    background: rgba(248, 215, 230, 0.274);
  }
 
 