body{
    font-family: 'Cinzel Decorative', cursive;
}



#main-page-banner{

    background-color: teal;
}

footer {
    padding: 30px 0;
    font-size: 12px;
    color: rgba(141, 141, 141, 0.829);
    text-align: center;
    background: rgba(248, 215, 230, 0.274);
  }
 
 